<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>DietPlan</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.dietplan.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationServlet</display-name>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>com.servlet.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetRegisterDetailServlet</display-name>
    <servlet-name>GetRegisterDetailServlet</servlet-name>
    <servlet-class>com.servlet.GetRegisterDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRegisterDetailServlet</servlet-name>
    <url-pattern>/GetRegisterDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DietCategoryServlet</display-name>
    <servlet-name>DietCategoryServlet</servlet-name>
    <servlet-class>com.servlet.DietCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DietCategoryServlet</servlet-name>
    <url-pattern>/DietCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FoodServlet</display-name>
    <servlet-name>FoodServlet</servlet-name>
    <servlet-class>com.servlet.FoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FoodServlet</servlet-name>
    <url-pattern>/FoodServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserListServlet</display-name>
    <servlet-name>UserListServlet</servlet-name>
    <servlet-class>com.servlet.UserListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserListServlet</servlet-name>
    <url-pattern>/UserListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserServlet</display-name>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>com.servlet.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/DeleteUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserServlet</display-name>
    <servlet-name>UpdateUserServlet</servlet-name>
    <servlet-class>com.servlet.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserServlet</servlet-name>
    <url-pattern>/UpdateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FoodDisplayServlet</display-name>
    <servlet-name>FoodDisplayServlet</servlet-name>
    <servlet-class>com.servlet.FoodDisplayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FoodDisplayServlet</servlet-name>
    <url-pattern>/FoodDisplayServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>dietCategoryDisplayServlet</display-name>
    <servlet-name>dietCategoryDisplayServlet</servlet-name>
    <servlet-class>com.servlet.dietCategoryDisplayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dietCategoryDisplayServlet</servlet-name>
    <url-pattern>/dietCategoryDisplayServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPasswordServlet</display-name>
    <servlet-name>ForgotPasswordServlet</servlet-name>
    <servlet-class>com.servlet.ForgotPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPasswordServlet</servlet-name>
    <url-pattern>/ForgotPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFoodServlet</display-name>
    <servlet-name>DeleteFoodServlet</servlet-name>
    <servlet-class>com.servlet.DeleteFoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFoodServlet</servlet-name>
    <url-pattern>/DeleteFoodServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateFoodServlet</display-name>
    <servlet-name>UpdateFoodServlet</servlet-name>
    <servlet-class>com.servlet.UpdateFoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateFoodServlet</servlet-name>
    <url-pattern>/UpdateFoodServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteDietCategoryServlet</display-name>
    <servlet-name>deleteDietCategoryServlet</servlet-name>
    <servlet-class>com.servlet.deleteDietCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteDietCategoryServlet</servlet-name>
    <url-pattern>/deleteDietCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDietServlet</display-name>
    <servlet-name>DeleteDietServlet</servlet-name>
    <servlet-class>com.servlet.DeleteDietServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDietServlet</servlet-name>
    <url-pattern>/DeleteDietServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDietCategoryServlet</display-name>
    <servlet-name>UpdateDietCategoryServlet</servlet-name>
    <servlet-class>com.servlet.UpdateDietCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDietCategoryServlet</servlet-name>
    <url-pattern>/UpdateDietCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getActivityMedicalServlet</display-name>
    <servlet-name>getActivityMedicalServlet</servlet-name>
    <servlet-class>com.servlet.getActivityMedicalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getActivityMedicalServlet</servlet-name>
    <url-pattern>/getActivityMedicalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteMedicalConditionServlet</display-name>
    <servlet-name>deleteMedicalConditionServlet</servlet-name>
    <servlet-class>com.servlet.deleteMedicalConditionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteMedicalConditionServlet</servlet-name>
    <url-pattern>/deleteMedicalConditionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayFoodRecipesServlet</display-name>
    <servlet-name>DisplayFoodRecipesServlet</servlet-name>
    <servlet-class>com.servlet.DisplayFoodRecipesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayFoodRecipesServlet</servlet-name>
    <url-pattern>/DisplayFoodRecipesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFoodRecipeServlet</display-name>
    <servlet-name>DeleteFoodRecipeServlet</servlet-name>
    <servlet-class>com.servlet.DeleteFoodRecipeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFoodRecipeServlet</servlet-name>
    <url-pattern>/DeleteFoodRecipeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateFoodRecipeServlet</display-name>
    <servlet-name>UpdateFoodRecipeServlet</servlet-name>
    <servlet-class>com.servlet.UpdateFoodRecipeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateFoodRecipeServlet</servlet-name>
    <url-pattern>/UpdateFoodRecipeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayMedicalCondition</display-name>
    <servlet-name>DisplayMedicalCondition</servlet-name>
    <servlet-class>com.servlet.DisplayMedicalCondition</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayMedicalCondition</servlet-name>
    <url-pattern>/DisplayMedicalCondition</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateMedcicalConditionServlet</display-name>
    <servlet-name>UpdateMedcicalConditionServlet</servlet-name>
    <servlet-class>com.servlet.UpdateMedcicalConditionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateMedcicalConditionServlet</servlet-name>
    <url-pattern>/UpdateMedcicalConditionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateMedicalConditionServlet</display-name>
    <servlet-name>UpdateMedicalConditionServlet</servlet-name>
    <servlet-class>com.servlet.UpdateMedicalConditionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateMedicalConditionServlet</servlet-name>
    <url-pattern>/UpdateMedicalConditionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertFeedbackServlet</display-name>
    <servlet-name>InsertFeedbackServlet</servlet-name>
    <servlet-class>com.servlet.InsertFeedbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertFeedbackServlet</servlet-name>
    <url-pattern>/InsertFeedbackServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MealPlanServlet</display-name>
    <servlet-name>MealPlanServlet</servlet-name>
    <servlet-class>com.servlet.MealPlanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MealPlanServlet</servlet-name>
    <url-pattern>/MealPlanServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FoodSearchServlet</display-name>
    <servlet-name>FoodSearchServlet</servlet-name>
    <servlet-class>com.servlet.FoodSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FoodSearchServlet</servlet-name>
    <url-pattern>/FoodSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminProfileServlet</display-name>
    <servlet-name>AdminProfileServlet</servlet-name>
    <servlet-class>com.servlet.AdminProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminProfileServlet</servlet-name>
    <url-pattern>/AdminProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserProfileServlet</display-name>
    <servlet-name>UserProfileServlet</servlet-name>
    <servlet-class>com.servlet.UserProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserProfileServlet</servlet-name>
    <url-pattern>/UserProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertQueryServlet</display-name>
    <servlet-name>InsertQueryServlet</servlet-name>
    <servlet-class>com.servlet.InsertQueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertQueryServlet</servlet-name>
    <url-pattern>/InsertQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertBookServlet</display-name>
    <servlet-name>InsertBookServlet</servlet-name>
    <servlet-class>com.servlet.InsertBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertBookServlet</servlet-name>
    <url-pattern>/InsertBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetBookServlet</display-name>
    <servlet-name>GetBookServlet</servlet-name>
    <servlet-class>com.servlet.GetBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBookServlet</servlet-name>
    <url-pattern>/GetBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadBookServlet</display-name>
    <servlet-name>DownloadBookServlet</servlet-name>
    <servlet-class>com.servlet.DownloadBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadBookServlet</servlet-name>
    <url-pattern>/DownloadBookServlet</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/error.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>UserMealCookieServlet</display-name>
    <servlet-name>UserMealCookieServlet</servlet-name>
    <servlet-class>com.servlet.UserMealCookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserMealCookieServlet</servlet-name>
    <url-pattern>/UserMealCookieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckNewUserServlet</display-name>
    <servlet-name>CheckNewUserServlet</servlet-name>
    <servlet-class>com.servlet.CheckNewUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckNewUserServlet</servlet-name>
    <url-pattern>/CheckNewUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PasswordServlet</display-name>
    <servlet-name>PasswordServlet</servlet-name>
    <servlet-class>com.servlet.PasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PasswordServlet</servlet-name>
    <url-pattern>/PasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentServlet</display-name>
    <servlet-name>PaymentServlet</servlet-name>
    <servlet-class>com.servlet.PaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentServlet</servlet-name>
    <url-pattern>/PaymentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayQuery</display-name>
    <servlet-name>DisplayQuery</servlet-name>
    <servlet-class>com.servlet.DisplayQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayQuery</servlet-name>
    <url-pattern>/DisplayQuery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayeBook</display-name>
    <servlet-name>DisplayeBook</servlet-name>
    <servlet-class>com.servlet.DisplayeBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayeBook</servlet-name>
    <url-pattern>/DisplayeBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminPasswordServlet</display-name>
    <servlet-name>AdminPasswordServlet</servlet-name>
    <servlet-class>com.servlet.AdminPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminPasswordServlet</servlet-name>
    <url-pattern>/AdminPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewAdminServlet</display-name>
    <servlet-name>NewAdminServlet</servlet-name>
    <servlet-class>com.servlet.NewAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewAdminServlet</servlet-name>
    <url-pattern>/NewAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewUserProfileServlet</display-name>
    <servlet-name>ViewUserProfileServlet</servlet-name>
    <servlet-class>com.servlet.ViewUserProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewUserProfileServlet</servlet-name>
    <url-pattern>/ViewUserProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserProfileUpdate</display-name>
    <servlet-name>UserProfileUpdate</servlet-name>
    <servlet-class>com.servlet.UserProfileUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserProfileUpdate</servlet-name>
    <url-pattern>/UserProfileUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserProfile</display-name>
    <servlet-name>DeleteUserProfile</servlet-name>
    <servlet-class>com.servlet.DeleteUserProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserProfile</servlet-name>
    <url-pattern>/DeleteUserProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowDeletedUserServlet</display-name>
    <servlet-name>ShowDeletedUserServlet</servlet-name>
    <servlet-class>com.servlet.ShowDeletedUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowDeletedUserServlet</servlet-name>
    <url-pattern>/ShowDeletedUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActivateUserProfile</display-name>
    <servlet-name>ActivateUserProfile</servlet-name>
    <servlet-class>com.servlet.ActivateUserProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActivateUserProfile</servlet-name>
    <url-pattern>/ActivateUserProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayUserFeedbackServlet</display-name>
    <servlet-name>DisplayUserFeedbackServlet</servlet-name>
    <servlet-class>com.servlet.DisplayUserFeedbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayUserFeedbackServlet</servlet-name>
    <url-pattern>/DisplayUserFeedbackServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserFeedbackServlet</display-name>
    <servlet-name>DeleteUserFeedbackServlet</servlet-name>
    <servlet-class>com.servlet.DeleteUserFeedbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserFeedbackServlet</servlet-name>
    <url-pattern>/DeleteUserFeedbackServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserQuery</display-name>
    <servlet-name>DeleteUserQuery</servlet-name>
    <servlet-class>com.servlet.DeleteUserQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserQuery</servlet-name>
    <url-pattern>/DeleteUserQuery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBookQuery</display-name>
    <servlet-name>DeleteBookQuery</servlet-name>
    <servlet-class>com.servlet.DeleteBookQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBookQuery</servlet-name>
    <url-pattern>/DeleteBookQuery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBookServlet</display-name>
    <servlet-name>UpdateBookServlet</servlet-name>
    <servlet-class>com.servlet.UpdateBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBookServlet</servlet-name>
    <url-pattern>/UpdateBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBookServlet</display-name>
    <servlet-name>DeleteBookServlet</servlet-name>
    <servlet-class>com.servlet.DeleteBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBookServlet</servlet-name>
    <url-pattern>/DeleteBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayExerciseServlet</display-name>
    <servlet-name>DisplayExerciseServlet</servlet-name>
    <servlet-class>com.servlet.DisplayExerciseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayExerciseServlet</servlet-name>
    <url-pattern>/DisplayExerciseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateExerciseServlet</display-name>
    <servlet-name>UpdateExerciseServlet</servlet-name>
    <servlet-class>com.servlet.UpdateExerciseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateExerciseServlet</servlet-name>
    <url-pattern>/UpdateExerciseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertExerciseServlet</display-name>
    <servlet-name>InsertExerciseServlet</servlet-name>
    <servlet-class>com.servlet.InsertExerciseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertExerciseServlet</servlet-name>
    <url-pattern>/InsertExerciseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TempBook</display-name>
    <servlet-name>TempBook</servlet-name>
    <servlet-class>com.servlet.TempBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TempBook</servlet-name>
    <url-pattern>/TempBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDisplayBookServlet</display-name>
    <servlet-name>UserDisplayBookServlet</servlet-name>
    <servlet-class>com.servlet.UserDisplayBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDisplayBookServlet</servlet-name>
    <url-pattern>/UserDisplayBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddRecipeServlet</display-name>
    <servlet-name>AddRecipeServlet</servlet-name>
    <servlet-class>com.servlet.AddRecipeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRecipeServlet</servlet-name>
    <url-pattern>/AddRecipeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PurchaseBookServlet</display-name>
    <servlet-name>PurchaseBookServlet</servlet-name>
    <servlet-class>com.servlet.PurchaseBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurchaseBookServlet</servlet-name>
    <url-pattern>/PurchaseBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentBookServlet</display-name>
    <servlet-name>PaymentBookServlet</servlet-name>
    <servlet-class>com.servlet.PaymentBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentBookServlet</servlet-name>
    <url-pattern>/PaymentBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserPurchaseTimelineServlet</display-name>
    <servlet-name>UserPurchaseTimelineServlet</servlet-name>
    <servlet-class>com.servlet.UserPurchaseTimelineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserPurchaseTimelineServlet</servlet-name>
    <url-pattern>/UserPurchaseTimelineServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserProfileUpdateServlet</display-name>
    <servlet-name>UserProfileUpdateServlet</servlet-name>
    <servlet-class>com.servlet.UserProfileUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserProfileUpdateServlet</servlet-name>
    <url-pattern>/UserProfileUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserPasswordServlet</display-name>
    <servlet-name>UserPasswordServlet</servlet-name>
    <servlet-class>com.servlet.UserPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserPasswordServlet</servlet-name>
    <url-pattern>/UserPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllFeedbackServlet</display-name>
    <servlet-name>GetAllFeedbackServlet</servlet-name>
    <servlet-class>com.servlet.GetAllFeedbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllFeedbackServlet</servlet-name>
    <url-pattern>/GetAllFeedbackServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDisplayExerciseServlet</display-name>
    <servlet-name>UserDisplayExerciseServlet</servlet-name>
    <servlet-class>com.servlet.UserDisplayExerciseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDisplayExerciseServlet</servlet-name>
    <url-pattern>/UserDisplayExerciseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetFoodRecipeByIDServlet</display-name>
    <servlet-name>GetFoodRecipeByIDServlet</servlet-name>
    <servlet-class>com.servlet.GetFoodRecipeByIDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetFoodRecipeByIDServlet</servlet-name>
    <url-pattern>/GetFoodRecipeByIDServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserInsertIntakeServlet</display-name>
    <servlet-name>UserInsertIntakeServlet</servlet-name>
    <servlet-class>com.servlet.UserInsertIntakeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserInsertIntakeServlet</servlet-name>
    <url-pattern>/UserInsertIntakeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetDailyIntakeServlet</display-name>
    <servlet-name>GetDailyIntakeServlet</servlet-name>
    <servlet-class>com.servlet.GetDailyIntakeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDailyIntakeServlet</servlet-name>
    <url-pattern>/GetDailyIntakeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetTotalUserNumber</display-name>
    <servlet-name>GetTotalUserNumber</servlet-name>
    <servlet-class>com.servlet.GetTotalUserNumber</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTotalUserNumber</servlet-name>
    <url-pattern>/GetTotalUserNumber</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUserNumberServet</display-name>
    <servlet-name>GetUserNumberServet</servlet-name>
    <servlet-class>com.servlet.GetUserNumberServet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserNumberServet</servlet-name>
    <url-pattern>/GetUserNumberServet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetTotalIncome</display-name>
    <servlet-name>GetTotalIncome</servlet-name>
    <servlet-class>com.servlet.GetTotalIncome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTotalIncome</servlet-name>
    <url-pattern>/GetTotalIncome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetIncomeByMonth</display-name>
    <servlet-name>GetIncomeByMonth</servlet-name>
    <servlet-class>com.servlet.GetIncomeByMonth</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetIncomeByMonth</servlet-name>
    <url-pattern>/GetIncomeByMonth</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProgressServlet</display-name>
    <servlet-name>ProgressServlet</servlet-name>
    <servlet-class>com.servlet.ProgressServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProgressServlet</servlet-name>
    <url-pattern>/ProgressServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProgressFreeServlet</display-name>
    <servlet-name>ProgressFreeServlet</servlet-name>
    <servlet-class>com.servlet.ProgressFreeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProgressFreeServlet</servlet-name>
    <url-pattern>/ProgressFreeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserGetTodayIntakeServlet</display-name>
    <servlet-name>UserGetTodayIntakeServlet</servlet-name>
    <servlet-class>com.servlet.UserGetTodayIntakeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserGetTodayIntakeServlet</servlet-name>
    <url-pattern>/UserGetTodayIntakeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetWeeklyIntakeServlet</display-name>
    <servlet-name>GetWeeklyIntakeServlet</servlet-name>
    <servlet-class>com.servlet.GetWeeklyIntakeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetWeeklyIntakeServlet</servlet-name>
    <url-pattern>/GetWeeklyIntakeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetExerciseValueServlet</display-name>
    <servlet-name>GetExerciseValueServlet</servlet-name>
    <servlet-class>com.servlet.GetExerciseValueServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetExerciseValueServlet</servlet-name>
    <url-pattern>/GetExerciseValueServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AboutUsServlet</display-name>
    <servlet-name>AboutUsServlet</servlet-name>
    <servlet-class>com.servlet.AboutUsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AboutUsServlet</servlet-name>
    <url-pattern>/AboutUsServlet</url-pattern>
  </servlet-mapping>
</web-app>